<!DOCTYPE html>
<html>
  <head>
      <title>
          Small Schedule App - Cox Auto Project
      </title>
      <link rel="stylesheet" type="text/css" href="style.css" />
  </head>
  <body>
      <table>
        <tbody>
            <tr>
                <th>
                    Sunday
                </th>
                <th>
                    Monday
                </th>
                <th>
                    Tuesday
                </th>
                <th>
                    Wednesday
                </th>
                <th>
                    Thursday
                </th>
                <th>
                    Friday
                </th>
                <th>
                    Saturday
                </th>
            </tr>
            <tr id="rowHour1">
              <td day="Sunday">
                  Early Morning
              </td>
              <td day="Monday">
                  Early Morning
              </td>
              <td day="Tuesday">
                  Early Morning
              </td>
              <td day="Wednesday">
                  Early Morning
              </td>
              <td day="Thursday">
                  Early Morning
              </td>
              <td day="Friday">
                  Early Morning
              </td>
              <td day="Saturday">
                  Early Morning
              </td>
            </tr>
            <tr id="rowHour2">
              <td day="Sunday">
                  9am
              </td>
              <td day="Monday">
                  9am
              </td>
              <td day="Tuesday">
                  9am
              </td>
              <td day="Wednesday">
                  9am
              </td>
              <td day="Thursday">
                  9am
              </td>
              <td day="Friday">
                  9am
              </td>
              <td day="Saturday">
                  9am
              </td>
            </tr>
            <tr id="rowHour2">
              <td day="Sunday">
                  9am
              </td>
              <td day="Monday">
                  9am
              </td>
              <td day="Tuesday">
                  9am
              </td>
              <td day="Wednesday">
                  9am
              </td>
              <td day="Thursday">
                  9am
              </td>
              <td day="Friday">
                  9am
              </td>
              <td day="Saturday">
                  9am
              </td>
            </tr>
            <tr id="rowHour2">
              <td day="Sunday">
                  9am
              </td>
              <td day="Monday">
                  9am
              </td>
              <td day="Tuesday">
                  9am
              </td>
              <td day="Wednesday">
                  9am
              </td>
              <td day="Thursday">
                  9am
              </td>
              <td day="Friday">
                  9am
              </td>
              <td day="Saturday">
                  9am
              </td>
            </tr>
            <tr id="rowHour2">
              <td day="Sunday">
                  9am
              </td>
              <td day="Monday">
                  9am
              </td>
              <td day="Tuesday">
                  9am
              </td>
              <td day="Wednesday">
                  9am
              </td>
              <td day="Thursday">
                  9am
              </td>
              <td day="Friday">
                  9am
              </td>
              <td day="Saturday">
                  9am
              </td>
            </tr>
            <tr id="rowHour2">
              <td day="Sunday">
                  9am
              </td>
              <td day="Monday">
                  9am
              </td>
              <td day="Tuesday">
                  9am
              </td>
              <td day="Wednesday">
                  9am
              </td>
              <td day="Thursday">
                  9am
              </td>
              <td day="Friday">
                  9am
              </td>
              <td day="Saturday">
                  9am
              </td>
            </tr>
            <tr id="rowHour2">
              <td day="Sunday">
                  9am
              </td>
              <td day="Monday">
                  9am
              </td>
              <td day="Tuesday">
                  9am
              </td>
              <td day="Wednesday">
                  9am
              </td>
              <td day="Thursday">
                  9am
              </td>
              <td day="Friday">
                  9am
              </td>
              <td day="Saturday">
                  9am
              </td>
            </tr>
            <tr id="rowHour2">
              <td day="Sunday">
                  9am
              </td>
              <td day="Monday">
                  9am
              </td>
              <td day="Tuesday">
                  9am
              </td>
              <td day="Wednesday">
                  9am
              </td>
              <td day="Thursday">
                  9am
              </td>
              <td day="Friday">

              </td>
              <td day="Saturday">
                  3pm
              </td>
            </tr>
            <tr id="rowHour2">
              <td day="Sunday">
                  4pm
              </td>
              <td day="Monday">
                  4pm
              </td>
              <td day="Tuesday">
                  4pm
              </td>
              <td day="Wednesday">
                  4pm
              </td>
              <td day="Thursday">
                  4pm
              </td>
              <td day="Friday">
                  4pm
              </td>
              <td day="Saturday">
                  4pm
              </td>
            </tr>
            <tr id="rowHour2">
              <td day="Sunday">
                  5pm
              </td>
              <td day="Monday">
                  5pm
              </td>
              <td day="Tuesday">
                  5pm
              </td>
              <td day="Wednesday">
                  5pm
              </td>
              <td day="Thursday">
                  5pm
              </td>
              <td day="Friday">
                  5pm
              </td>
              <td day="Saturday">
                  5pm
              </td>
            </tr>
            <tr id="rowHour2">
              <td day="Sunday">
                  Late Day
              </td>
              <td day="Monday">
                  Late Day
              </td>
              <td day="Tuesday">
                  Late Day
              </td>
              <td day="Wednesday">
                  Late Day
              </td>
              <td day="Thursday">
                  Late Day
              </td>
              <td day="Friday">
                  Late Day
              </td>
              <td day="Saturday">
                  Late Day
              </td>
            </tr>
        </tbody>
      </table>
      <div id="app">

      </div>
      <script src="../renderers/renderer.js"></script>
  </body>
</html>
