.App {
  text-align: center;
}

table.weekCalendar {
  display: inline-table;
  border: 3px solid black;
  border-spacing: 5px;
}

.weekCalendar th {
  border: 3px solid black;
}

.weekCalendar td {
  border: 1px solid black;
  font-weight: bold;
}

.weekCalendar th,td {
  padding: 5px;
  width: 6em;
}


th.dayHeader {
  background: darkcyan;
  color: goldenrod;
}


td.hourWord{
  width: 200px;
}
.hourNum div.timeSlot{
  text-align: left;
  height: 95px;
}
div.unfilled {
  background: darkslategray;
  color: rgb(165, 167, 217);
  cursor: default;
  padding: 3px;
}
div.filled {
  background: firebrick;
  color: black;
  cursor: default;
  padding: 3px;
}
.time{
  padding: 5px 10px;
  line-height: 200%;
}
.meetingInfo {
  padding-left: 5px;
}


#modalBox {
  position: absolute;
  background-color: black;
  color: #00ff00;
  border: 3px solid #00ffff;
  border-radius: 15px 15px;
  z-index: 9;
  width: 300px;
  padding: 4px;
}
#modalBox td.label{
  width:20%
}
#modalBox td:not(.label){
  width:200px
}
#modalType{
  width:100%;
}
.modSubmit {
  /* display: flex; */
  align-items: center;
  align-content: center;
  text-align: center;
  color: black;
}
.modSubmit div{
  border: 2px white solid;
  background-color: silver;
  border-radius: 10%;
  cursor: pointer;
  font-weight: bold;
  line-height: 1.2em;
}
.modSubmit div:active{
  background-color: gray
}
#closeModBtn {
  display: inline-block;
  background-color: red;
  width: 1em;
  text-align: center;
  color: white;
  border: 4px white solid;
  border-radius: 10%;
  cursor: default;
  font-weight: bold;
}
.close {
  text-align: center;
}
