.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

table.weekCalendar {
  display: inline-table;
  border: 3px solid black;
  border-spacing: 5px;
}

.weekCalendar th {
  border: 3px solid black;
}

.weekCalendar td {
  border: 1px solid black;
}

.weekCalendar th,td {
  padding: 5px;
  width: 6em;
}

div.unfilled {
  background: darkslategray;
  color: rgb(165, 167, 217);
  cursor: default;
}

th.dayHeader {
  background: darkcyan;
  color: goldenrod;
}
.time{
  padding: 5px 10px;
  line-height: 200%;
}

#modalBox {
  position: absolute;
  background-color: black;
  color: #00ff00;
  border: 3px solid #00ffff;
  border-radius: 15px 15px;
  z-index: 9;
  width: 300px;
  padding: 4px;
}
#modalBox td.label{
  width:20%
}
#modalBox td:not(.label){
  width:200px
}
#modalType{
  width:100%;
}
.modSubmit {
  /* display: flex; */
  align-items: center;
  align-content: center;
  text-align: center;
  color: black;
}
.modSubmit div{
  border: 2px white solid;
  background-color: silver;
  border-radius: 10%;
  cursor: pointer;
  font-weight: bold;
  line-height: 1.2em;
}
.modSubmit div:active{
  background-color: gray
}
#closeModBtn {
  display: inline-block;
  background-color: red;
  width: 1em;
  text-align: center;
  color: white;
  border: 4px white solid;
  border-radius: 10%;
  cursor: default;
  font-weight: bold;
}
.close {
  text-align: center;
}
